<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>Użytkownicy</header>
<main class="container">
    <nav>
        <a href="/users">Wyświetl użytkowników</a>
        <a href="/">Dodaj użytkownika</a>
    </nav>
    <form method="post" th:action="@{/addUser}" th:object="${user}">
        <input type="hidden" th:field="*{id}"/>
        <label for="first-name">Imię</label>
        <input required class = "form-control" id="first-name" type="text" th:field="*{firstName}" placeholder="Jan"/>
        <label for="last-name">Nazwisko</label>
        <input required class = "form-control" id="last-name" type="text" th:field="*{lastName}" placeholder="Kowalski"/>
        <label for="birth-date">Data urodzenia</label>
        <input required class = "form-control" id="birth-date" type="date" th:field="*{birthDate}"/>
        <label for="email">Adres email</label>
        <input required class = "form-control" id="email" type="email" th:field="*{email}" placeholder="Kowalski@gmail.com"/>
        <div>
            <input id="newsletter" type="checkbox" name="newsletter" th:field="*{newsletter}"/>
            <label for="newsletter">Zapisz do newslettera</label>
        </div>
        <input value="zapisz" type="submit" class="btn btn-success submit-input">
    </form>
</main>

</body>
</html>